---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2/?app_id=b1115a6b&app_key=4724937dc5dacc6d0decefae93be90f0&q%5B%5D&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sat, 04 Mar 2023 04:59:08 GMT
recorded_with: VCR 6.1.0
